.upcomingMoviesHeader{
    background-color: #ff9999;
    padding: 8px 8px 8px 8px;
    text-align: center;
    font-size: 1rem;
}
.releasedMovies{
    width: 76%;
    margin: 16px 16px 16px 16px;
}
.releasedMoviesnfilter{
    display: flex;
}
.filter{
    width: 24%;
    margin: 16px 16px 16px 16px;
}


