.header{
    background-color: #222;
    padding: 8px 32px 8px 16px;
    height: 34px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}
.logo{
    padding: 5px;
    background-color: #ff7f7f;
    animation: spin 8s linear infinite;
}
.upcomingMoviesHeader{
    background-color: #ff9999;
    padding: 8px 8px 8px 8px;
    text-align: center;
    font-size: 1rem;
}

