.header{
    background-color: #222;
    padding: 8px 8px 8px 16px;
    height: 38px;
    display: flex;
    justify-content: space-around
}
.app-logo{
    width: 5%;
    text-align: left;
}
.empty{
    width: 80%;
}
.bookshow{
    width: 10%;

}
.blogin{
    width: 5%;

}
.blogout{
    width: 5%;
  
    
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}
.logo{
    padding: 3px;
    width: 28px;
    background-color: #ff7f7f;
    animation: spin 8s linear infinite;
}

